/* You can add global styles to this file, and also import other style files */
@tailwind components;
@tailwind base;
@tailwind utilities;

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  @apply bg-slate-100;
}

* {
  box-sizing: border-box;
}

.container {
  @apply max-w-[1200px] mx-auto px-4;
}

button:disabled {
  @apply opacity-80;
}
input:disabled {
  @apply bg-slate-200;
}

.btn {
  @apply relative text-center px-6 block py-2 font-semibold rounded-md;
}

.btn-primary {
  @apply btn;
  @apply bg-slate-600  text-white hover:bg-slate-700;
}

.btn-danger {
  @apply btn;
  @apply bg-red-500  text-white hover:bg-red-600;
}
