/* You can add global styles to this file, and also import other style files */
@tailwind components;
@tailwind base;
@tailwind utilities;

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  @apply bg-slate-100;
}

* {
  box-sizing: border-box;
}

button:disabled {
  @apply opacity-80;
}
input:disabled {
  @apply bg-slate-200;
}
